main#root
    .container
        .row
            .col-md-6
                ul
                    li(v-for="contact in contacts", @click="getContact(contact)", style="cursor: pointer; background: #eee; margin-bottom:5px;")
                        p
                            span {{contact.firstName | title}} {{contact.lastName | title}}
                            span.small.pull-right {{contact.gender}} {{contact.age}}

            .col-md-6
                form(@submit.prevent="addContact")
                    input-box(type="text" name="firstName" label="First name" stacked=true rules="required|alpha_spaces" v-model="contact.firstName")
                    input-box(type="text" name="lastName" label="Last name" stacked=true rules="required|alpha_spaces" v-model="contact.lastName")

                    switch-radio(id="female" name="gender" label="Female" value="f" v-model="contact.gender" rules="required" stacked=true)
                    switch-radio(id="male" name="gender" label="Male" value="m" v-model="contact.gender" rules="required" stacked=true)

                    list-box(name="age" label="Age" stacked=true, :options="age" v-model="contact.age" rules="required" placeholder="Age")

                    button.btn.btn-default.btn-block(type="submit") SAVE
                    button.btn.btn-default.btn-block(type="reset", @click="reset") RESET